In [1]:
# importing the libraries
import pandas as pd
import re
import matplotlib.pyplot as plt

# Have to learn plotly in order to embed the HTML plots into the web...

In [25]:
# extract the data_time, mobile number, and the message
with open('./chats/_chat_android.txt') as f:
    content = f.read()  #inspect from here
    pattern = r"(.*?) \- (.*?): (.*)"

    # Find all matches
    matches = re.findall(pattern, content)
    # Create DataFrame
    df = pd.DataFrame(matches, columns=["Date_Time", "User", "Message"])

df.Message[7]

'Follow this link to join my WhatsApp group: https://chat.whatsapp.com/JWU9TA00h24FJE3WIONZSy'

In [3]:
df[['Date', 'Time']] = df.Date_Time.str.split(',', expand=True)

NameError: name 'df' is not defined

In [8]:
df.head()

,Date_Time,Number,Message,Date,Time
0,"29/08/23, 4:09:24 PM",+91 97481 96908‬,‎‪+91 97481 96908‬ created group “GDSC TIU Fre...,29/08/23,4:09:24 PM
1,"26/11/23, 8:03:40 PM",+91 98833 49314‬,‎video omitted,26/11/23,8:03:40 PM
2,"26/11/23, 9:27:29 PM",+91 80099 32451‬,‎image omitted,26/11/23,9:27:29 PM
3,"26/11/23, 9:29:02 PM",+91 80099 32451‬,And ignore sample data pls,26/11/23,9:29:02 PM
4,"26/11/23, 9:29:24 PM",+91 97481 96908‬,Polygon?,26/11/23,9:29:24 PM

In [10]:
df.drop("Date_Time", axis=1,inplace=True)
df.head()

,Number,Message,Date,Time
0,+91 97481 96908‬,‎‪+91 97481 96908‬ created group “GDSC TIU Fre...,29/08/23,4:09:24 PM
1,+91 98833 49314‬,‎video omitted,26/11/23,8:03:40 PM
2,+91 80099 32451‬,‎image omitted,26/11/23,9:27:29 PM
3,+91 80099 32451‬,And ignore sample data pls,26/11/23,9:29:02 PM
4,+91 97481 96908‬,Polygon?,26/11/23,9:29:24 PM

In [11]:
df.describe()

                  Number           Message      Date          Time
count               7030              7030      7030          7030
unique               225              5453       103          6500
top     +91 97481 96908‬  ‎sticker omitted  05/12/23   12:05:49 AM
freq                1505               593       403             4

In [1]:
# Convert the date and time string column into the date and time column
df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y")

NameError: name 'pd' is not defined

In [35]:
df[df.Date > 29-01-24]

AttributeError: module 'pandas' has no attribute 'dt'

In [39]:
# convert the date and time so that it can be sorted
# join every messages and remove the unnecessary words, keep only the valueable words to make the 
# frequency plot. and a wordcloud

# Make vector embedings to plots the words into a 2d space

# pick a particular topic and summerize the topic